<html>
<h3>Detalle libro</h3>

<table style="width:25%">

    <tr>
        <th> <b>Id: </b></th>
        <th> {{detail.id}}  </th>
    </tr>
    <tr>
        <th> <b>Nombre: </b> </th>
        <th> {{detail.name}}</th>
    </tr>
    <tr>
        <th> <b>Autor: </b> </th>
        <th> {{detail.author}} </th>
    </tr>
    <tr>
        <th> <b>Año: </b> </th>
        <th> {{detail.year}} </th>
    </tr>
    <tr>
       <th> <b>Género: </b> </th>
       <th> {{detail.type}} </th>
    </tr>
   
</table>

</html>
